.boxInput{
margin-bottom: 50px;
border-style: solid;
height: 75px;
box-sizing: border-box;



}
.boxOutput{
    border-style:solid;
    border-color: black;
    box-sizing: border-box;
    height: 200px;
    width:40%;
    margin-right: 25px;
    margin-left: 35px;
    padding-top: 250px ;


}

#im{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/494/734/437/amazing-galaxy-mac-ox-scientific-planet-space-stars-ultrahd-4k-wallpaper-thumb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



.entry{
    border-top-style: hidden;
    background-color: aqua;
    border-right-style: hidden;
    border-left-style: hidden;
    outline:none


}
