.boxInput{
margin-bottom: 50px;

height: 75px;
box-sizing: border-box;
border-color: black;



}
.boxOutput{
    border-style:solid;
    border-color: black;
    box-sizing: border-box;
    height: 250px;
    width:1000px;




}

#im{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/494/734/437/amazing-galaxy-mac-ox-scientific-planet-space-stars-ultrahd-4k-wallpaper-thumb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



.entry{
    border-top-style: hidden;
    background-color: hsl(348, 100%, 61%);
    border-right-style: hidden;
    border-left-style: hidden;
    border-color: black;
    outline:none


}
